node_modules
node
log
reports
tmp
package-lock.json
*.iml
.idea/
target
launch.json
*.log
tatus
webdriver-manager
.vscode/
.DS_Store
report
allure-results
allure-report
/allure-report/
/.scannerwork/.sonar_lock
/.scannerwork/report-task.txt
/.scannerwork/
/cypress/e2e/2-advanced-examples/
/cypress/e2e/1-getting-started/
